<div id="footer">
  
  <%= link_to 'Home', '/' %> | <%= link_to 'About', 'home#about' %> 
  <br /><br />
  <div id="copy">
    Webmaster: <%= mail_to("jalee@cmu.edu", "Germy", encode: "javascript") %> 
  </div>

</div>