<p id="notice"><%= notice %></p>

<h1>Queue'd Items</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Number of Times Queued</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.file %></td>
        <td><%= attachment.num_queue %></td>
        <td>Add to Queue</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_attachment_path %>
