<h2>About PiPrint</h2>
<div class="row">
	<div class="medium-12 columns text-center">
    <div class="row">
      <p class="text-left">PiPrint is a service where you upload your documents to a remote server and then add
      them to the print queue via a web interface. This site was made using ruby on rails as the webserver and
      the queueing commands that use CUPS (Common Unix Printing System), a Unix printing system. </p>
    </div>
    <div class="row">
      <p class="text-left">PiPrint was made as part of a Pi day hackathon sponsored by ACM@CMU and Mellonheads. This
      project was made by Jeremy Lee and Mitchell Lee</p>
    </div>    
  </div>
</div>
<br>

  
</div>
<hr>
<div class="row">
	<div class="medium-4 columns text-center">
		<div class="row"><a class="black" href="http://iconfinder.com"><img src="https://cdn2.iconfinder.com/data/icons/iconfinder-logo/512/eye_black_circle-128.png" alt="icon" class="text-center"></a></div>
    <hr>    
    <b>IconFinder</b>
    <p>Icons from: <a class="black" href="http://iconfinder.com">iconfinder.com</a></p>
	</div>
	<div class="medium-4 columns text-center">
		<div class="row">
      <a class="black" href="http://rubyonrails.org/"><img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/158/Ruby_on_Rails_2-128.png" alt="ruby on rails" class="text-center"></a></div>
    <hr>    
      <b>Ruby on Rails</b>
      <p>Webframework from: <a class="black" href="http://rubyonrails.org/">rubyonrails.org</a></p>
	</div>
	<div class="medium-4 columns text-center">  
		<div class="row"><a class="black" href="http://www.cups.org/"><img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/109-128.png" alt="python" class="text-center"></a></div>
    <hr>
    <b>Cups</b>
    <p>Printing Drivers from: <a class="black" href="http://www.cups.org/">cups.org</a></p>
	</div>  
</div>
