<div class="row">
	<div class="medium-12 columns text-center">
		<div class="row"><img src="https://cdn3.iconfinder.com/data/icons/text-icons-1/512/BT_print-256.png" alt="Mobile" class="text-center"></div>  
		<div class="row"><h2>What is PiPrint?</h2></div>
      <hr>    
    <div class="row">
      <b class="text-left">PiPrint allows your to print from any device with internet. 
      Though a webportal, users send their documents to a webportal that queues their documents to the printer</b>
    </div>
  </div>
</div>
<br>

<div class="row text-center">
  <% if current_user %>
     <%= link_to "Get Started", '/attachments', :class=> "button" %>
  <% else %>
    <%= link_to 'Signup', '/signup', class: "button success" %>        
    <%= link_to 'Login', '/login', class: "button primary" %>
  <% end %>    
</div>

  
</div>
<hr>
<div class="row">
	<div class="medium-4 columns text-center">
		<div class="row"><img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/phone-128.png" alt="Mobile" class="text-center"></div>
    <hr>    
    <b>Print From Anywhere</b>
    <p>PiPrint lets you print from any device with an internet connection</p>
	</div>
	<div class="medium-4 columns text-center">
		<div class="row"><img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/vynil-128.png" alt="Mobile" class="text-center"></div>
    <hr>    
    <b>No Drivers Required</b>
    <p>PiPrint uses a webportal to queue your print job, no drivers are required</p>
	</div>
	<div class="medium-4 columns text-center">  
		<div class="row"><img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/note-128.png" alt="Mobile" class="text-center"></div>
    <hr>
    <b>Re-Queue Your Print Jobs</b>
    <p>PiPrint lets you re-queue your print job an unlimited number of times</p>
	</div>  
</div>